<div class="container">

    <h1>Projects</h1>

    <div [fxLayout]="'row wrap'" fxLayoutGap="30px">

        <!-- TODO: extract to independent component -->
        <mat-card fxFlex class="" *ngFor="let project of projects">

            <mat-card-header>
                <div mat-card-avatar [style.background-image]="'url(' + project?.owner?.avatarSrc + ')'"
                    class="project-header-avatar">
                </div>
                <mat-card-title [routerLink]="['/projects', project.id]">
                    {{project?.name}}
                </mat-card-title>
                <mat-card-subtitle>{{project?.owner?.fullName}}</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image [routerLink]="['/projects', project.id]" src="{{project?.coverImageSrc}}" alt="">

            <mat-card-content>

                <mat-progress-bar mode="determinate" value="{{ project?.fundedPercentage}}"></mat-progress-bar>

                <div id="textbox">
                    <p class="alignleft">{{ project?.fundedPercentage}}% founded</p>
                    <p class="alignright">{{project?.requestedAmount}}&euro;</p>
                    <div style="clear: both;"></div>
                </div>

                <p>
                    {{project?.description | truncate:[35]}}
                </p>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-button [routerLink]="['/projects', project.id]">Learn More</button>
            </mat-card-actions>

        </mat-card>

    </div>

</div>